.App {
  text-align: center;
}

.header {
  margin: auto;
  padding: 20px;
  height: 15vh;
  text-align: right;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  font-size: 15px;
}

.title {
  text-align: left;
  float: left;
  margin: auto;
  width: 50%;

  padding: 10px;
}

.home {
  padding: 20px;
}
